.profile-setting,
.profile-setting * {
  box-sizing: border-box;
}
.profile-setting {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}
.header {
  background: #e7e6e6;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1300px;
  height: 81px;
  position: relative;
  overflow: hidden;
}
.logo-container {
  width: 114px;
  height: 100px;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.text-container {
  padding: 16px 0px 16px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.warehouse {
  color: #000000;
  text-align: left;
  font: var(--title, 700 20px "Inter-Bold", sans-serif);
  position: relative;
}
.dropdown-container {
  padding: 24px 0px 24px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.dropdown {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 10px 5px 10px 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  height: 30px;
  position: relative;
  overflow: hidden;
}
.exe-hcm-wh {
  color: #0b0b0b;
  text-align: left;
  font: 500 18px "Inter-Medium", sans-serif;
  position: relative;
}
.arrow-down-icon {
  flex-shrink: 0;
  width: 16px;
  height: 8.77px;
  position: relative;
  overflow: visible;
}
.text-container2 {
  padding: 16px 0px 16px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.hello-admin {
  color: #000000;
  text-align: left;
  font: var(--title, 700 20px "Inter-Bold", sans-serif);
  position: relative;
}
.text-container3 {
  padding: 16px 20px 16px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.logout {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  position: relative;
  background-color: black;
  overflow: visible;
}
.log-out {
  color: #000000;
  text-align: left;
  font: var(--title, 700 20px "Inter-Bold", sans-serif);
  position: relative;
}
.right {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow-y: auto;
}
.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow-x: auto;
}
.navigation-bar {
  background: #ffffff;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1200px;
  height: 60px;
  position: relative;
  overflow: visible;
}
.tab-1 {
  background: #f0f0f0;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: visible;
}
.receiving {
  color: #7c7c7c;
  text-align: left;
  font: 500 20px "Inter-Medium", sans-serif;
  position: relative;
}
.shipment {
  color: #7c7c7c;
  text-align: left;
  font: 500 20px "Inter-Medium", sans-serif;
  position: relative;
}
.inventory {
  color: #7c7c7c;
  text-align: left;
  font: 500 20px "Inter-Medium", sans-serif;
  position: relative;
}
.stock-taking {
  color: #7c7c7c;
  text-align: left;
  font: 500 20px "Inter-Medium", sans-serif;
  position: relative;
}
.management {
  color: #7c7c7c;
  text-align: left;
  font: 500 20px "Inter-Medium", sans-serif;
  position: relative;
}
.general-settings {
  color: #7c7c7c;
  text-align: left;
  font: 500 20px "Inter-Medium", sans-serif;
  position: relative;
}
.title-bar {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1200px;
  height: 70px;
  position: relative;
  overflow: hidden;
}
.title-container {
  background: #253052;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 8px 5px 8px 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 40px;
  position: relative;
  overflow: hidden;
}
.frame-14 {
  background: #ff7001;
  align-self: stretch;
  flex-shrink: 0;
  width: 5px;
  position: relative;
  overflow: hidden;
}
.text-contaier {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.profile-setting2 {
  color: #ffffff;
  text-align: left;
  font: var(--title, 700 20px "Inter-Bold", sans-serif);
  position: relative;
}
.ps-02 {
  color: #ffffff;
  text-align: left;
  font: 500 13px "Inter-Medium", sans-serif;
  position: relative;
  align-self: stretch;
  width: 45px;
}
.text-container4 {
  background: #eef0ed;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.setting-of-profile-option {
  color: var(--blue, #0029ff);
  text-align: left;
  font: var(--link, 400 13px "Inter-Regular", sans-serif);
  text-decoration: underline;
  position: relative;
}
.maintenance-of-item-master-will-be-performed {
  color: #000000;
  text-align: left;
  font: var(--normal, 400 15px "Inter-Regular", sans-serif);
  position: relative;
}
.sub-nav-bar-container {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.content2 {
  background: #e0dedb;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1200px;
  position: relative;
}
.sub-nav-bar {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 30px;
  position: relative;
  overflow: hidden;
}
.menu-bar-list {
  color: var(--orange, #ff7001);
  text-align: left;
  font: var(--normal, 400 15px "Inter-Regular", sans-serif);
  position: relative;
}
.setting-of-profile-option-will-be-performed {
  color: #000000;
  text-align: left;
  font: var(--normal-link, 400 15px "Inter-Regular", sans-serif);
  text-decoration: underline;
  position: relative;
}
.list-item {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.item-container {
  padding: 5px 0px 5px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.item {
  background: #3f3e3c;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 1200px;
  position: relative;
  overflow: hidden;
}
.header2 {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 30px;
  position: relative;
  overflow: hidden;
}
.icon-container {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.profile-setting3 {
  color: #ffffff;
  text-align: left;
  font: var(--sub-tittle, 600 18px "Inter-SemiBold", sans-serif);
  position: relative;
}
.fr-10-01 {
  color: #ffffff;
  text-align: left;
  font: var(--sub-tittle, 600 18px "Inter-SemiBold", sans-serif);
  position: relative;
}
.content3 {
  background: #ffffff;
  padding: 20px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.form-item-blue {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.header3 {
  background: #01a2e8;
  padding: 5px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.icon-container2 {
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  height: 15px;
  width: 30px;
  position: relative;
  overflow: visible;
}
.profile-setting4 {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Inter-Bold", sans-serif;
  position: relative;
}
.sr-10-011 {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Inter-Bold", sans-serif;
  position: relative;
}
.content4 {
  background: #87cefa;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.body {
  padding: 20px 15px 0px 30px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.table-item {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow-y: auto;
}
.header4 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 30px;
  position: relative;
}
.column-1 {
  background: #3a3a3a;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 100px;
  position: relative;
}
.square {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.selection {
  color: #ffffff;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.column-2 {
  background: #3a3a3a;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.setting-contents {
  color: #ffffff;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.column-3 {
  background: #3a3a3a;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 200px;
  position: relative;
}
.text-container5 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.set-value {
  color: #ffffff;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.body2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 300px;
  position: relative;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 30px;
  position: relative;
}
.column-12 {
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  width: 100px;
  position: relative;
}
.square2 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.column-22 {
  background: #ffffff;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.enter-number-of-rows-to-be-added-when-adding-rows-is-selected {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.column-32 {
  background: #ffffff;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 200px;
  position: relative;
}
._10 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.square3 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.square4 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.square5 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.square6 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.square7 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.square8 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.square9 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.square10 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.square11 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.square12 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.square13 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.square14 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.paging {
  padding: 10px 5px 10px 5px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.bg {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  height: 30px;
  position: relative;
}
.line-1 {
  border-style: solid;
  border-color: #a5a5a5;
  border-width: 1px 0 0 0;
  flex-shrink: 0;
  width: 20px;
  height: 0px;
  position: absolute;
  top: 20px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.container {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  height: 20px;
  position: relative;
  overflow: visible;
}
.line-3 {
  border-style: solid;
  border-color: #a5a5a5;
  border-width: 1px 0 0 0;
  flex-shrink: 0;
  width: 20px;
  height: 0px;
  position: relative;
  top: 20px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.list-number {
  background: #ffffff;
  padding: 0px 20px 0px 5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 20px;
  position: absolute;
  left: 20px;
  top: calc(50% - 10px);
  overflow: hidden;
}
.page-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.selected {
  background: #c8c8c8;
  padding: 0px 3px 0px 3px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 15px;
  height: 20px;
  position: relative;
  overflow: hidden;
}
._1 {
  color: #ffffff;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.un-selected {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 15px;
  height: 20px;
  position: relative;
  overflow: hidden;
}
._2 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.text {
  background: #ffffff;
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 20px;
  position: absolute;
  left: 120px;
  top: calc(50% - 10px);
  overflow: hidden;
}
.text-container6 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.records-from-1-to-1-of-1 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.textcontainer {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.header5 {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.text-container7 {
  background: #ff7001;
  padding: 3px 10px 3px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 400px;
  position: relative;
}
.select-operation-and-click-execute-button {
  color: #000000;
  text-align: left;
  font: 400 17px "Inter-Regular", sans-serif;
  position: relative;
}
.row2 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0px 1px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.text-container8 {
  padding: 3px 0px 3px 0px;
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 400px;
  position: relative;
}
.radio-icon {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.register-profile-information {
  color: #3a3a3a;
  text-align: left;
  font: 400 17px "Inter-Regular", sans-serif;
  position: relative;
}
.btn-container {
  padding: 15px 0px 15px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.btn {
  background: #ff7001;
  border-radius: 5px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 150px;
  height: 50px;
  position: relative;
}
.execute {
  color: #000000;
  text-align: left;
  font: 700 20px "Inter-Bold", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.textcontainer2 {
  padding: 20px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-end;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.page-top {
  color: #0066ff;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  text-decoration: underline;
  position: relative;
}
.icon-container3 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  width: 30px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.modify-setting-by-business-type {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Inter-Bold", sans-serif;
  position: relative;
}
.sr-10-012 {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Inter-Bold", sans-serif;
  position: relative;
}
.icon-container4 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  width: 30px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.modify-delivery-slip-software {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Inter-Bold", sans-serif;
  position: relative;
}
.sm-10-013 {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Inter-Bold", sans-serif;
  position: relative;
}
.icon-container5 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  width: 30px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.modify-setting-by-customer {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Inter-Bold", sans-serif;
  position: relative;
}
.sm-10-014 {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Inter-Bold", sans-serif;
  position: relative;
}
.icon-container6 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  width: 30px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.automatic-email-setting {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Inter-Bold", sans-serif;
  position: relative;
}
.sm-10-015 {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Inter-Bold", sans-serif;
  position: relative;
}
.textcontainer3 {
  padding: 30px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-end;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.text-container9 {
  background: #eef0ed;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.help-profile-setting {
  color: var(--blue, #0029ff);
  text-align: left;
  font: var(--link, 400 13px "Inter-Regular", sans-serif);
  text-decoration: underline;
  position: relative;
}
.footer {
  background: #f1f2f1;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1300px;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.copyright-system-exe-vietnam-2022 {
  color: #000000;
  text-align: left;
  font: 500 13px "Inter-Medium", sans-serif;
  position: relative;
}
