.location-master-location-master,
.location-master-location-master * {
  box-sizing: border-box;
}
.location-master-location-master {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  /* width: 1300px; */
  position: relative;
  overflow: hidden;
}
.header {
  background: #e7e6e6;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1300px;
  height: 81px;
  position: relative;
  overflow: hidden;
}
.logo-container {
  flex-shrink: 0;
  width: 114px;
  height: 100px;
  position: relative;
  overflow: hidden;
}
.text-container {
  padding: 16px 0px 16px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.warehouse {
  color: #000000;
  text-align: left;
  font: var(--title, 700 20px "Inter-Bold", sans-serif);
  position: relative;
}
.dropdown-container {
  padding: 24px 0px 24px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.dropdown {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 10px 5px 10px 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  height: 30px;
  position: relative;
  overflow: hidden;
}
.exe-hcm-wh {
  color: #0b0b0b;
  text-align: left;
  font: 500 18px "Inter-Medium", sans-serif;
  position: relative;
}
.arrow-down-icon {
  flex-shrink: 0;
  width: 16px;
  height: 8.77px;
  position: relative;
  overflow: visible;
}
.text-container2 {
  padding: 16px 0px 16px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.hello-admin {
  color: #000000;
  text-align: left;
  font: var(--title, 700 20px "Inter-Bold", sans-serif);
  position: relative;
}
.text-container3 {
  padding: 16px 20px 16px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.logout {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  position: relative;
  background-color: black;
  overflow: visible;
}
.log-out {
  color: #000000;
  text-align: left;
  font: var(--title, 700 20px "Inter-Bold", sans-serif);
  position: relative;
}
.right {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  /* width: 1300px; */
  position: relative;
  overflow-y: auto;
}
.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  /* width: 1300px; */
  position: relative;
  overflow-x: auto;
}
.navigation-bar {
  background: #ffffff;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1200px;
  height: 60px;
  position: relative;
  overflow: hidden;
}
.tab-1 {
  background: #f0f0f0;
  /* padding: 0px 5px 0px 5px; */
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.receiving {
  color: #7c7c7c;
  text-align: left;
  font: 500 20px "Inter-Medium", sans-serif;
  position: relative;
}
.shipment {
  color: #7c7c7c;
  text-align: left;
  font: 500 20px "Inter-Medium", sans-serif;
  position: relative;
}
.inventory {
  color: #7c7c7c;
  text-align: left;
  font: 500 20px "Inter-Medium", sans-serif;
  position: relative;
}
.stock-taking {
  color: #7c7c7c;
  text-align: left;
  font: 500 20px "Inter-Medium", sans-serif;
  position: relative;
}
.management {
  color: #7c7c7c;
  text-align: left;
  font: 500 20px "Inter-Medium", sans-serif;
  position: relative;
}
.general-settings {
  color: #7c7c7c;
  text-align: left;
  font: 500 20px "Inter-Medium", sans-serif;
  position: relative;
}
.title-bar {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1200px;
  height: 70px;
  position: relative;
  overflow: hidden;
}
.title-container {
  background: #253052;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 8px 5px 8px 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 40px;
  position: relative;
  overflow: hidden;
}
.frame-14 {
  background: #ff7001;
  align-self: stretch;
  flex-shrink: 0;
  width: 5px;
  position: relative;
  overflow: hidden;
}
.text-contaier {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.location-master {
  color: #ffffff;
  text-align: left;
  font: var(--title, 700 20px "Inter-Bold", sans-serif);
  position: relative;
}
.fm-14-01 {
  color: #ffffff;
  text-align: left;
  font: 500 13px "Inter-Medium", sans-serif;
  position: relative;
}
.text-container4 {
  background: #eef0ed;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.location-master2 {
  color: #0029ff;
  text-align: left;
  font: var(--link, 400 13px "Inter-Regular", sans-serif);
  text-decoration: underline;
  position: relative;
}
.registration-and-correction-of-location-master-will-be-performed {
  color: #000000;
  text-align: left;
  font: var(--normal, 400 15px "Inter-Regular", sans-serif);
  position: relative;
}
.sub-nav-bar-container {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.content2 {
  background: #e0dedb;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1200px;
  position: relative;
}
.sub-nav-bar {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 30px;
  position: relative;
  overflow: hidden;
}
.menu-bar-list {
  color: var(--orange, #ff7001);
  text-align: left;
  font: var(--normal, 400 15px "Inter-Regular", sans-serif);
  position: relative;
}
.register-location {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
}
.list-item {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.item-container {
  padding: 5px 0px 5px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.item {
  background: #3f3e3c;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 1200px;
  position: relative;
  overflow: hidden;
}
.header2 {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 30px;
  position: relative;
  overflow: hidden;
}
.icon-container {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.register-location2 {
  color: #ffffff;
  text-align: left;
  font: var(--sub-tittle, 600 18px "Inter-SemiBold", sans-serif);
  position: relative;
}
.fm-14-012 {
  color: #ffffff;
  text-align: left;
  font: var(--sub-tittle, 600 18px "Inter-SemiBold", sans-serif);
  position: relative;
}
.content3 {
  background: #ffffff;
  padding: 20px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.form-item-blue {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 1140px;
  position: relative;
  overflow: hidden;
}
.header3 {
  background: #01a2e8;
  padding: 5px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.icon-container2 {
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  height: 15px;
  position: relative;
  overflow: visible;
}
.add-location {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Inter-Bold", sans-serif;
  position: relative;
}
.sm-14-011 {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Inter-Bold", sans-serif;
  position: relative;
}
.content4 {
  background: #87cefa;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.body {
  padding: 20px 15px 0px 30px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.form-item {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 10px 5px 10px 5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 1095px;
  position: relative;
  overflow: hidden;
}
.header4 {
  padding: 10px 5px 10px 5px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.icon-container3 {
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 30px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.add-location2 {
  color: #000000;
  text-align: left;
  font: var(--sub-sub-tittle, 500 16px "Inter-Medium", sans-serif);
  position: relative;
}
.frame-20 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.row {
  padding: 5px 35px 5px 35px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1130px;
  position: relative;
  overflow: hidden;
}
.left {
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 190px;
  position: relative;
}
.zone {
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
}
.zone-span {
  color: #000000;
  font: 400 15px "Inter-Regular", sans-serif;
}
.zone-span2 {
  color: #ff7001;
  font: 400 15px "Inter-Regular", sans-serif;
}
.right2 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.dropdown-container2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.dropdown2 {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 10px 3px 10px 3px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 131px;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.please-select {
  color: #0b0b0b;
  text-align: left;
  font: 500 15px "Inter-Medium", sans-serif;
  position: relative;
  width: 102px;
  height: 20px;
}
.arrow-down-icon2 {
  flex-shrink: 0;
  width: 16px;
  height: 8.77px;
  position: relative;
}
.arrow-down-22 {
  height: auto;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  overflow: visible;
}
.row2 {
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
}
.row-2-span {
  color: #000000;
  font: 400 15px "Inter-Regular", sans-serif;
}
.row-2-span2 {
  color: #ff7001;
  font: 400 15px "Inter-Regular", sans-serif;
}
.input-container {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 256px;
  position: relative;
}
.input {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 0px 3px 0px 3px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  height: 20px;
  position: relative;
}
.text {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
  align-self: stretch;
}
. {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
}
.bay {
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
}
.bay-span {
  color: #000000;
  font: 400 15px "Inter-Regular", sans-serif;
}
.bay-span2 {
  color: #ff7001;
  font: 400 15px "Inter-Regular", sans-serif;
}
.level {
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
}
.level-span {
  color: #000000;
  font: 400 15px "Inter-Regular", sans-serif;
}
.level-span2 {
  color: #ff7001;
  font: 400 15px "Inter-Regular", sans-serif;
}
.planned-qty {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
}
.input-container2 {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 256px;
  position: relative;
}
.input2 {
  background: #c9c9c9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 0px 3px 0px 3px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  height: 20px;
  position: relative;
}
._249 {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
  align-self: stretch;
}
._9751 {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
  align-self: stretch;
}
.textcontainer {
  padding: 0px 40px 0px 40px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 141px;
  position: relative;
  overflow: hidden;
}
.btn-container {
  padding: 15px 0px 15px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.btn {
  background: #ff7001;
  border-radius: 5px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 150px;
  height: 50px;
  position: relative;
}
.confirm-qty {
  color: #000000;
  text-align: left;
  font: 700 20px "Inter-Bold", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.textcontainer2 {
  padding: 20px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-end;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 76px;
  position: relative;
  overflow: hidden;
}
.page-top {
  color: #0066ff;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  text-decoration: underline;
  position: relative;
}
.icon-container4 {
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 30px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.register-location-details {
  color: #000000;
  text-align: left;
  font: var(--sub-sub-tittle, 500 16px "Inter-Medium", sans-serif);
  position: relative;
}
.textcontainer3 {
  padding: 30px 10px 30px 10px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-end;
  justify-content: center;
  flex-shrink: 0;
  width: 1085px;
  height: 44px;
  position: relative;
  overflow: hidden;
}
.textcontainer4 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 1130px;
  height: 56px;
  position: relative;
  overflow: hidden;
}
.execute {
  color: #000000;
  text-align: left;
  font: 700 20px "Inter-Bold", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.textcontainer5 {
  padding: 20px 10px 40px 10px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-end;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 91px;
  position: relative;
  overflow: hidden;
}
.page-top2 {
  color: #0029ff;
  text-align: right;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
}
.page-top-2-span {
  color: #0029ff;
  font: 400 15px "Inter-Regular", sans-serif;
  text-decoration: underline;
}
.page-top-2-span2 {
  color: #0029ff;
  font: 400 15px "Inter-Regular", sans-serif;
}
.textcontainer6 {
  padding: 30px 10px 30px 10px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-end;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 30px;
  position: relative;
  overflow: hidden;
}
.form-item-blue2 {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1140px;
  position: relative;
  overflow: hidden;
}
.icon-container5 {
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  height: 15px;
  position: relative;
  overflow: visible;
}
.modify-location {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Inter-Bold", sans-serif;
  position: relative;
}
.sm-14-012 {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Inter-Bold", sans-serif;
  position: relative;
}
.content5 {
  background: #87cefa;
  padding: 20px 15px 0px 30px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.form-item2 {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 10px 5px 10px 5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 1095px;
  position: relative;
  overflow: hidden;
}
.icon-container6 {
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 30px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.easy-search {
  color: #000000;
  text-align: left;
  font: var(--sub-sub-tittle, 500 16px "Inter-Medium", sans-serif);
  position: relative;
}
.body2 {
  padding: 0px 0px 0px 30px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 65px;
  position: relative;
}
.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  height: 20px;
  position: relative;
}
.row3 {
  flex-shrink: 0;
  width: 66px;
  height: 18px;
  position: relative;
}
.status {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
}
.column2 {
  padding: 0px 0px 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 189px;
  height: 20px;
  position: relative;
}
.row4 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 183px;
  position: relative;
}
.col-1 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 183px;
  position: relative;
}
.valid-location {
  color: #ff0000;
  text-align: left;
  font: 700 15px "Inter-Bold", sans-serif;
  text-decoration: underline;
  position: relative;
  width: 102px;
}
.column3 {
  padding: 0px 0px 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  height: 20px;
  position: relative;
}
.invalid-location {
  color: #0029ff;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  text-decoration: underline;
  position: relative;
}
.all-locations {
  color: #0029ff;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  text-decoration: underline;
  position: relative;
}
.textcontainer7 {
  padding: 20px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-end;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 36px;
  position: relative;
  overflow: hidden;
}
.form-item3 {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 10px 5px 10px 5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.header5 {
  padding: 0px 5px 10px 5px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.icon-container7 {
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 30px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.detail-search {
  color: #000000;
  text-align: left;
  font: 700 16px "Inter-Bold", sans-serif;
  position: relative;
}
.table-item {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 500px;
  position: relative;
  overflow-y: auto;
}
.header6 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1095px;
  height: 30px;
  position: relative;
}
.column-2 {
  background: #3a3a3a;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 100px;
  position: relative;
}
.square {
  background: #747474;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.group {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.selection {
  color: #ffffff;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.column-3 {
  background: #3a3a3a;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 140px;
  position: relative;
}
.location {
  color: #ffffff;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.column-6 {
  background: #3a3a3a;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 0px 0px 5px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 140px;
  position: relative;
}
.text-container5 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.zone2 {
  color: #ffffff;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.column-8 {
  background: #3a3a3a;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 140px;
  position: relative;
}
.task {
  color: #ffffff;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
.customer-id {
  color: #ffffff;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
.customer-name {
  color: #ffffff;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
.column-82 {
  background: #3a3a3a;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 160px;
  position: relative;
}
.text-container6 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.allocation-condition {
  color: #ffffff;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  flex: 1;
}
.column-83 {
  background: #3a3a3a;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 135px;
  position: relative;
}
.status2 {
  color: #ffffff;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.column-22 {
  background: #ffffff;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  width: 100px;
  position: relative;
}
.square2 {
  background: #ffffff;
  border-radius: 2px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.group2 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.column-32 {
  background: #ffffff;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 140px;
  position: relative;
}
._001-001-01 {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.column-62 {
  background: #ffffff;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 0px 0px 5px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 140px;
  position: relative;
}
._333 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.column-84 {
  background: #ffffff;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 140px;
  position: relative;
}
.bto-b {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
.text2 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
  height: 20px;
}
.column-85 {
  background: #ffffff;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 160px;
  position: relative;
}
.store-preferentially {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  flex: 1;
}
.column-86 {
  background: #ffffff;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 135px;
  position: relative;
}
.valid {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.column-23 {
  background: #e4e4e4;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  width: 100px;
  position: relative;
}
.group3 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.column-33 {
  background: #e4e4e4;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 140px;
  position: relative;
}
._001-001-02 {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.column-63 {
  background: #e4e4e4;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 0px 0px 5px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 140px;
  position: relative;
}
.column-87 {
  background: #e4e4e4;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 140px;
  position: relative;
}
.column-88 {
  background: #e4e4e4;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 160px;
  position: relative;
}
.column-89 {
  background: #e4e4e4;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 135px;
  position: relative;
}
.group4 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
._001-001-03 {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group5 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
._001-002-01 {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group6 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
._001-002-02 {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group7 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
._001-002-03 {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group8 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
._001-003-01 {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group9 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
._001-003-02 {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group10 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
._001-003-03 {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group11 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
._002-001-01 {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group12 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
._002-001-02 {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group13 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
._002-001-03 {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group14 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
._002-002-01 {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group15 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
._002-002-02 {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group16 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
._002-002-03 {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group17 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
._002-003-01 {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.paging {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1130px;
  position: relative;
}
.bg {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  height: 30px;
  position: relative;
}
.line-1 {
  border-style: solid;
  border-color: #a5a5a5;
  border-width: 1px 0 0 0;
  flex-shrink: 0;
  width: 20px;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.container {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  height: 20px;
  position: relative;
  overflow: visible;
}
.line-3 {
  border-style: solid;
  border-color: #a5a5a5;
  border-width: 1px 0 0 0;
  flex-shrink: 0;
  width: 20px;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.list-number {
  background: #ffffff;
  padding: 0px 20px 0px 5px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  height: 20px;
  position: absolute;
  left: 20px;
  top: calc(50% - 10px);
  overflow: hidden;
}
.page-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.selected {
  background: #c8c8c8;
  padding: 0px 3px 0px 3px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 15px;
  height: 20px;
  position: relative;
  overflow: hidden;
}
._1 {
  color: #ffffff;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.un-selected {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 15px;
  height: 20px;
  position: relative;
  overflow: hidden;
}
._2 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
._3 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
._4 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
._5 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
._6 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
._7 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
._8 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
._9 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.text3 {
  background: #ffffff;
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 20px;
  position: absolute;
  left: 240px;
  top: calc(50% - 10px);
  overflow: hidden;
}
.text-container7 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.records-from-1-to-30-of-256 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.textcontainer8 {
  padding: 30px 10px 30px 10px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-end;
  justify-content: center;
  flex-shrink: 0;
  width: 1085px;
  height: 90px;
  position: relative;
  overflow: hidden;
}
.page-top3 {
  color: var(--blue, #0029ff);
  text-align: left;
  font: var(--normal-link, 400 15px "Inter-Regular", sans-serif);
  text-decoration: underline;
  position: relative;
}
.icon-container8 {
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 30px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.modify-location-click-on-top-button-selection-for-desired-change {
  color: #000000;
  text-align: left;
  font: 700 16px "Inter-Bold", sans-serif;
  position: relative;
}
.textcontainer9 {
  padding: 30px 10px 30px 10px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-end;
  justify-content: center;
  flex-shrink: 0;
  width: 1085px;
  height: 61px;
  position: relative;
  overflow: hidden;
}
.textcontainer10 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 232px;
  position: relative;
  overflow: hidden;
}
.header7 {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.text-container8 {
  background: #ff7001;
  padding: 3px 10px 3px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 400px;
  position: relative;
}
.select-operation-and-click-execute-button {
  color: #000000;
  text-align: left;
  font: 400 17px "Inter-Regular", sans-serif;
  position: relative;
}
.row5 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.text-container9 {
  padding: 3px 0px 3px 0px;
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 400px;
  position: relative;
}
.radio-icon {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.register-edited-informations {
  color: #3a3a3a;
  text-align: left;
  font: 400 17px "Inter-Regular", sans-serif;
  position: relative;
}
.radio-emty-icon {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.print {
  color: #3a3a3a;
  text-align: left;
  font: 400 17px "Inter-Regular", sans-serif;
  position: relative;
}
.row6 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 27px;
  position: relative;
  overflow: hidden;
}
.textcontainer11 {
  padding: 30px 10px 30px 10px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-end;
  justify-content: center;
  flex-shrink: 0;
  width: 1085px;
  height: 104px;
  position: relative;
  overflow: hidden;
}
.textcontainer12 {
  padding: 40px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-end;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.text-container10 {
  background: #eef0ed;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.help-register-location {
  color: var(--blue, #0029ff);
  text-align: left;
  font: var(--link, 400 13px "Inter-Regular", sans-serif);
  text-decoration: underline;
  position: relative;
}
.footer {
  background: #f1f2f1;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1300px;
  height: 30px;
  position: relative;
  overflow: hidden;
}
.copyright-system-exe-vietnam-2022 {
  color: #000000;
  text-align: left;
  font: 500 13px "Inter-Medium", sans-serif;
  position: relative;
}
