.export,
.export * {
  box-sizing: border-box;
}
.export {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  /* width: 1300px; */
  position: relative;
  overflow: hidden;
}
.header {
  background: #e7e6e6;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1300px;
  height: 81px;
  position: relative;
  overflow: hidden;
}
.logo-container {
  flex-shrink: 0;
  width: 114px;
  height: 100px;
  position: relative;
  overflow: hidden;
}
.text-container {
  padding: 16px 0px 16px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.warehouse {
  color: #000000;
  text-align: left;
  font: var(--title, 700 20px "Inter-Bold", sans-serif);
  position: relative;
}
.dropdown-container {
  padding: 24px 0px 24px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.dropdown {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 10px 5px 10px 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  height: 30px;
  position: relative;
  overflow: hidden;
}
.exe-hcm-wh {
  color: #0b0b0b;
  text-align: left;
  font: 500 18px "Inter-Medium", sans-serif;
  position: relative;
}
.arrow-down-icon {
  flex-shrink: 0;
  width: 16px;
  height: 8.77px;
  position: relative;
  overflow: visible;
}
.text-container2 {
  padding: 16px 0px 16px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.hello-admin {
  color: #000000;
  text-align: left;
  font: var(--title, 700 20px "Inter-Bold", sans-serif);
  position: relative;
}
.text-container3 {
  padding: 16px 20px 16px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.logout {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  position: relative;
  background-color: black;
  overflow: visible;
}
.log-out {
  color: #000000;
  text-align: left;
  font: var(--title, 700 20px "Inter-Bold", sans-serif);
  position: relative;
}
.right {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  /* width: 1300px; */
  position: relative;
  overflow-y: auto;
}
.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  /* width: 1300px; */
  position: relative;
  overflow-x: auto;
}
.navigation-bar {
  background: #ffffff;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1200px;
  height: 60px;
  position: relative;
  overflow: visible;
}
.tab-1 {
  background: #f0f0f0;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: visible;
}
.receiving {
  color: #7c7c7c;
  text-align: left;
  font: 500 20px "Inter-Medium", sans-serif;
  position: relative;
}
.shipment {
  color: #7c7c7c;
  text-align: left;
  font: 500 20px "Inter-Medium", sans-serif;
  position: relative;
}
.inventory {
  color: #7c7c7c;
  text-align: left;
  font: 500 20px "Inter-Medium", sans-serif;
  position: relative;
}
.stock-taking {
  color: #7c7c7c;
  text-align: left;
  font: 500 20px "Inter-Medium", sans-serif;
  position: relative;
}
.management {
  color: #7c7c7c;
  text-align: left;
  font: 500 20px "Inter-Medium", sans-serif;
  position: relative;
}
.general-settings {
  color: #7c7c7c;
  text-align: left;
  font: 500 20px "Inter-Medium", sans-serif;
  position: relative;
}
.title-bar {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1200px;
  height: 70px;
  position: relative;
  overflow: hidden;
}
.title-container {
  background: #253052;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 8px 5px 8px 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 40px;
  position: relative;
  overflow: hidden;
}
.frame-14 {
  background: #ff7001;
  align-self: stretch;
  flex-shrink: 0;
  width: 5px;
  position: relative;
  overflow: hidden;
}
.text-contaier {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.export2 {
  color: #ffffff;
  text-align: left;
  font: var(--title, 700 20px "Inter-Bold", sans-serif);
  position: relative;
}
.pm-08 {
  color: #ffffff;
  text-align: left;
  font: 500 13px "Inter-Medium", sans-serif;
  position: relative;
}
.text-container4 {
  background: #eef0ed;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.export-guidance {
  color: #0029ff;
  text-align: left;
  font: var(--link, 400 13px "Inter-Regular", sans-serif);
  text-decoration: underline;
  position: relative;
}
.export-guide-detail {
  color: #000000;
  text-align: left;
  font: var(--normal, 400 15px "Inter-Regular", sans-serif);
  position: relative;
}
.sub-nav-bar-container {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.content2 {
  background: #e0dedb;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 1200px;
  position: relative;
}
.sub-nav-bar {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 30px;
  position: relative;
  overflow: hidden;
}
.text-input {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 30px;
  position: relative;
  overflow: hidden;
}
.menu-bar-list {
  color: var(--orange, #ff7001);
  text-align: left;
  font: var(--normal, 400 15px "Inter-Regular", sans-serif);
  position: relative;
}
.export3 {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  text-decoration: underline;
  position: relative;
}
.register-export-pattern {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  text-decoration: underline;
  position: relative;
}
.modify-export-pattern {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  text-decoration: underline;
  position: relative;
}
.copy-export-pattern {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  text-decoration: underline;
  position: relative;
}
.export-linkage-data {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  text-decoration: underline;
  position: relative;
}
.text-input2 {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 123px;
  height: 30px;
  position: relative;
  overflow: hidden;
}
.export-linkage-data-order-management-software {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  text-decoration: underline;
  position: relative;
}
.list-item {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.item-container {
  padding: 5px 0px 5px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.item {
  background: #3f3e3c;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 1200px;
  position: relative;
  overflow: hidden;
}
.header2 {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 30px;
  position: relative;
  overflow: hidden;
}
.icon-container {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.export4 {
  color: #ffffff;
  text-align: left;
  font: var(--sub-tittle, 600 18px "Inter-SemiBold", sans-serif);
  position: relative;
}
.fm-08-01 {
  color: #ffffff;
  text-align: left;
  font: var(--sub-tittle, 600 18px "Inter-SemiBold", sans-serif);
  position: relative;
}
.content3 {
  background: #ffffff;
  padding: 20px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.row {
  padding: 5px 0px 5px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1130px;
  position: relative;
  overflow: hidden;
}
.left {
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 160px;
  position: relative;
}
.file-type {
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
  align-self: stretch;
}
.file-type-span {
  color: #000000;
  font: 400 15px "Inter-Regular", sans-serif;
}
.file-type-span2 {
  color: #ff7001;
  font: 400 15px "Inter-Regular", sans-serif;
}
.right2 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 500px;
  position: relative;
}
.dropdown-container2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.dropdown2 {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 10px 3px 10px 3px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 20px;
  width: fit-content;
  position: relative;
  overflow: hidden;
}
.item-master {
  color: #0b0b0b;
  text-align: left;
  font: 500 15px "Inter-Medium", sans-serif;
  position: relative;
  width: 366px;
  height: 20px;
}
.arrow-down-icon2 {
  flex-shrink: 0;
  width: 16px;
  height: 8.77px;
  position: relative;
}
.arrow-down-22 {
  height: auto;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  overflow: visible;
}
.extraction-pattern {
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
  align-self: stretch;
}
.extraction-pattern-span {
  color: #000000;
  font: 400 15px "Inter-Regular", sans-serif;
}
.extraction-pattern-span2 {
  color: #ff7001;
  font: 400 15px "Inter-Regular", sans-serif;
}
.right3 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 250px;
  position: relative;
}
.default {
  color: #0b0b0b;
  text-align: left;
  font: 500 15px "Inter-Medium", sans-serif;
  position: relative;
  width: 219px;
  height: 20px;
}
.arrow-down-23 {
  height: auto;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  overflow: visible;
}
.textcontainer {
  padding: 30px 10px 30px 10px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-end;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 40px;
  position: relative;
  overflow: hidden;
}
.form-item {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 10px 5px 10px 5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.header3 {
  padding: 10px 5px 10px 5px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.icon-container2 {
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 30px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.detail-settings {
  color: #000000;
  text-align: left;
  font: var(--sub-sub-tittle, 500 16px "Inter-Medium", sans-serif);
  position: relative;
}
.row2 {
  padding: 5px 35px 5px 35px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1130px;
  position: relative;
  overflow: hidden;
}
.left2 {
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 164px;
  position: relative;
}
.header4 {
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
  width: 154px;
}
.header-4-span {
  color: #000000;
  font: 400 15px "Inter-Regular", sans-serif;
}
.header-4-span2 {
  color: #ff7001;
  font: 400 15px "Inter-Regular", sans-serif;
}
.right4 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 154px;
  position: relative;
}
.right5 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.radio-button-1 {
  padding: 2px 0px 2px 0px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.icon-radio-button {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.yes {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
}
.vector5 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.no {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
}
.with-border {
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
}
.with-border-span {
  color: #000000;
  font: 400 15px "Inter-Regular", sans-serif;
}
.with-border-span2 {
  color: #ff7001;
  font: 400 15px "Inter-Regular", sans-serif;
}
.right6 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 157px;
  position: relative;
}
.icon-radio-button2 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.vector8 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.file-format {
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
}
.file-format-span {
  color: #000000;
  font: 400 15px "Inter-Regular", sans-serif;
}
.file-format-span2 {
  color: #ff7001;
  font: 400 15px "Inter-Regular", sans-serif;
}
.right7 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 300px;
  position: relative;
}
.dropdown-container3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.dropdown3 {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 10px 3px 10px 3px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 131px;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.shift-jis {
  color: #0b0b0b;
  text-align: left;
  font: 500 15px "Inter-Medium", sans-serif;
  position: relative;
  width: 102px;
  height: 20px;
}
.arrow-down-24 {
  height: auto;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  overflow: visible;
}
.textcontainer2 {
  padding: 30px 10px 30px 10px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-end;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.page-top {
  color: var(--blue, #0029ff);
  text-align: left;
  font: var(--normal-link, 400 15px "Inter-Regular", sans-serif);
  text-decoration: underline;
  position: relative;
}
.table-item {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1140px;
  height: 559px;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}
.header5 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 30px;
  position: relative;
}
.column-3 {
  background: #3a3a3a;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 120px;
  position: relative;
}
.csv-item-id {
  color: #ffffff;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.column-6 {
  background: #3a3a3a;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 0px 0px 5px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 240px;
  position: relative;
}
.text-container5 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.header-name-display {
  color: #ffffff;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.column-8 {
  background: #3a3a3a;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 380px;
  position: relative;
}
.related-data {
  color: #ffffff;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
.column-82 {
  background: #3a3a3a;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.data {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1140px;
  height: 30px;
  position: relative;
}
.column-32 {
  background: #ffffff;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  width: 120px;
  position: relative;
}
._1 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.column-62 {
  background: #ffffff;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 0px 0px 5px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 240px;
  position: relative;
}
.contractant-id {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.column-83 {
  background: #ffffff;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 380px;
  position: relative;
}
.contractant-id2 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
.column-33 {
  background: #e4e4e4;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  width: 120px;
  position: relative;
}
._2 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.column-63 {
  background: #e4e4e4;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 0px 0px 5px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 240px;
  position: relative;
}
.contractant-name {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.column-84 {
  background: #e4e4e4;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 380px;
  position: relative;
}
.contractant-name2 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
._3 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.goods-owner-id {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.goods-owner-id2 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
._4 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.goods-owner-name {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.goods-owner-name2 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 137px;
}
._5 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.item-id {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.item-id2 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
._6 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.item-name {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 97px;
}
.item-name2 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
._7 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.search-name {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.search-name2 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
._8 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.search-name-2 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.search-name-22 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
._9 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.purchase-price {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.purchase-price2 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
._10 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.unshippable-days {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.unshippable-days2 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
._11 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.major-category {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.major-category2 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
._12 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.middle-category {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.middle-category2 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
._13 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.small-category {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.small-category2 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
._14 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.lot-control-flag {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.lot-control-flag2 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
._15 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.expiration-date-control-code {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
._16 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.temperature-category-code {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
._17 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.retail-price {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.retail-price2 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
._18 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.combination-set-category-code {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
._19 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.valid-invalid-flag {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.valid-invalid-flag2 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
._20 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.registered-datetime {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
._21 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.updated-datetime {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.updated-datetime2 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
._22 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.imported-date {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.imported-date2 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 137px;
}
._23 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.stock-category {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.stock-category2 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
._24 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.unreceivable-days {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
._25 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.receiving-date-control-flag {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
._26 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.set-item-info-001 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.set-item-info-0012 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
._27 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.set-item-info-002 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.set-item-info-0022 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
._28 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.set-item-info-003 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.set-item-info-0032 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
._29 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.set-item-info-004 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.set-item-info-0042 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
._30 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.set-item-info-005 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.set-item-info-0052 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
._31 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.set-item-info-006 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.set-item-info-0062 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
._32 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.set-item-info-007 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.set-item-info-0072 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
._33 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.set-item-info-008 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
._34 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.set-item-info-009 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
._35 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.set-item-info-010 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.set-item-info-0102 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
._36 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.item-classification-id {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
._37 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.retail-price-2 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.retail-price-22 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
._38 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.retail-price-3 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.retail-price-32 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
._39 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.retail-price-4 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.retail-price-42 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
._40 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.retail-price-5 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.retail-price-52 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 137px;
}
._41 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.ems-english-name {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
._42 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.weight {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 97px;
}
.weight2 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
._43 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.serial-no-control-flag {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.paging {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1140px;
  position: relative;
}
.bg {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  height: 30px;
  position: relative;
}
.line-1 {
  border-style: solid;
  border-color: #a5a5a5;
  border-width: 1px 0 0 0;
  flex-shrink: 0;
  width: 20px;
  height: 0px;
  position: absolute;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.container {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  height: 20px;
  position: relative;
  overflow: visible;
}
.line-3 {
  border-style: solid;
  border-color: #a5a5a5;
  border-width: 1px 0 0 0;
  flex-shrink: 0;
  width: 20px;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.list-number {
  background: #ffffff;
  padding: 0px 20px 0px 5px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  height: 20px;
  position: absolute;
  left: 20px;
  top: calc(50% - 10px);
  overflow: hidden;
}
.page-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.selected {
  background: #c8c8c8;
  padding: 0px 3px 0px 3px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 15px;
  height: 20px;
  position: relative;
  overflow: hidden;
}
._110 {
  color: #ffffff;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.text {
  background: #ffffff;
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 20px;
  position: absolute;
  left: 120px;
  top: calc(50% - 10px);
  overflow: hidden;
}
.text-container6 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.records-from-1-to-43-of-43 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.textcontainer3 {
  padding: 20px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-end;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.page-top2 {
  color: #0066ff;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  text-decoration: underline;
  position: relative;
}
.textcontainer4 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 1140px;
  height: 141px;
  position: relative;
  overflow: hidden;
}
.row3 {
  padding: 5px 0px 5px 0px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1130px;
  position: relative;
  overflow: hidden;
}
.left3 {
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  height: 20px;
  position: relative;
}
.file-name-to-be-saved {
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
}
.file-name-to-be-saved-span {
  color: #000000;
  font: 400 15px "Inter-Regular", sans-serif;
}
.file-name-to-be-saved-span2 {
  color: #ff7001;
  font: 400 15px "Inter-Regular", sans-serif;
}
.input-container {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 10px 3px 10px 3px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.text2 {
  color: #0b0b0b;
  text-align: left;
  font: 500 15px "Inter-Medium", sans-serif;
  position: relative;
  width: 102px;
  height: 20px;
}
.btn-container {
  padding: 15px 0px 15px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.btn {
  background: #ff7001;
  border-radius: 5px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 150px;
  height: 50px;
  position: relative;
}
.execute {
  color: #000000;
  text-align: left;
  font: 700 20px "Inter-Bold", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.textcontainer5 {
  padding: 20px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-end;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 34px;
  position: relative;
  overflow: hidden;
}
.textcontainer6 {
  padding: 40px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-end;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.text-container7 {
  background: #eef0ed;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.help-export {
  color: var(--blue, #0029ff);
  text-align: left;
  font: var(--link, 400 13px "Inter-Regular", sans-serif);
  text-decoration: underline;
  position: relative;
}
.footer {
  background: #f1f2f1;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1300px;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.copyright-system-exe-vietnam-2022 {
  color: #000000;
  text-align: left;
  font: 500 13px "Inter-Medium", sans-serif;
  position: relative;
}
