.displayNone {
  display: none;
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdownBar {
    float: left;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  
  /* Dropdown button */
  .dropdownBar .dropbtn {
    width: 100%;
    height: 100%;
    font-size: 20px;
    border: none;
    outline: none;
    color: #000000;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdownBar:hover .dropbtn {
    background-color: #ec5506;
    color: white;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdownBar-content {
    display: none;
    position: absolute;
    background-color: #f0f0f0;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdownBar-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdownBar-content a:hover {
    background-color: #dddddd;
    color: black;
  }
  
  /* Show the dropdown menu on hover */
  .dropdownBar:hover .dropdownBar-content {
    display: block;
    position: fixed;
  }