.location-master-zone-master,
.location-master-zone-master * {
  box-sizing: border-box;
}
.location-master-zone-master {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  /* width: 1300px; */
  position: relative;
  overflow: hidden;
}
.header {
  background: #e7e6e6;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1300px;
  height: 81px;
  position: relative;
  overflow: hidden;
}
.logo-container {
  flex-shrink: 0;
  width: 114px;
  height: 100px;
  position: relative;
  overflow: hidden;
}
.text-container {
  padding: 16px 0px 16px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.warehouse {
  color: #000000;
  text-align: left;
  font: var(--title, 700 20px "Inter-Bold", sans-serif);
  position: relative;
}
.dropdown-container {
  padding: 24px 0px 24px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.dropdown {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 10px 5px 10px 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  height: 30px;
  position: relative;
  overflow: hidden;
}
.exe-hcm-wh {
  color: #0b0b0b;
  text-align: left;
  font: 500 18px "Inter-Medium", sans-serif;
  position: relative;
}
.arrow-down-icon {
  flex-shrink: 0;
  width: 16px;
  height: 8.77px;
  position: relative;
  overflow: visible;
}
.text-container2 {
  padding: 16px 0px 16px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.hello-admin {
  color: #000000;
  text-align: left;
  font: var(--title, 700 20px "Inter-Bold", sans-serif);
  position: relative;
}
.text-container3 {
  padding: 16px 20px 16px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.logout {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  position: relative;
  background-color: black;
  overflow: visible;
}
.log-out {
  color: #000000;
  text-align: left;
  font: var(--title, 700 20px "Inter-Bold", sans-serif);
  position: relative;
}
.right {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  /* width: 1300px; */
  position: relative;
  overflow-y: auto;
}
.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1300px;
  position: relative;
  overflow-x: auto;
}
.navigation-bar {
  background: #ffffff;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1200px;
  height: 60px;
  position: relative;
  overflow: visible;
}
.tab-1 {
  background: #f0f0f0;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: visible;
}
.receiving {
  color: #7c7c7c;
  text-align: left;
  font: 500 20px "Inter-Medium", sans-serif;
  position: relative;
}
.shipment {
  color: #7c7c7c;
  text-align: left;
  font: 500 20px "Inter-Medium", sans-serif;
  position: relative;
}
.inventory {
  color: #7c7c7c;
  text-align: left;
  font: 500 20px "Inter-Medium", sans-serif;
  position: relative;
}
.stock-taking {
  color: #7c7c7c;
  text-align: left;
  font: 500 20px "Inter-Medium", sans-serif;
  position: relative;
}
.management {
  color: #7c7c7c;
  text-align: left;
  font: 500 20px "Inter-Medium", sans-serif;
  position: relative;
}
.general-settings {
  color: #7c7c7c;
  text-align: left;
  font: 500 20px "Inter-Medium", sans-serif;
  position: relative;
}
.title-bar {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1200px;
  height: 70px;
  position: relative;
  overflow: hidden;
}
.title-container {
  background: #253052;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 8px 5px 8px 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 40px;
  position: relative;
  overflow: hidden;
}
.frame-14 {
  background: #ff7001;
  align-self: stretch;
  flex-shrink: 0;
  width: 5px;
  position: relative;
  overflow: hidden;
}
.text-contaier {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.zone-master {
  color: #ffffff;
  text-align: left;
  font: var(--title, 700 20px "Inter-Bold", sans-serif);
  position: relative;
}
.pm-14-02 {
  color: #ffffff;
  text-align: left;
  font: 500 13px "Inter-Medium", sans-serif;
  position: relative;
}
.text-container4 {
  background: #eef0ed;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.zone-master2 {
  color: #0029ff;
  text-align: left;
  font: var(--link, 400 13px "Inter-Regular", sans-serif);
  text-decoration: underline;
  position: relative;
}
.registration-and-modify-zone-will-be-performed {
  color: #000000;
  text-align: left;
  font: var(--normal, 400 15px "Inter-Regular", sans-serif);
  position: relative;
}
.sub-nav-bar-container {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.content2 {
  background: #e0dedb;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1200px;
  position: relative;
}
.sub-nav-bar {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 30px;
  position: relative;
  overflow: hidden;
}
.menu-bar-list {
  color: var(--orange, #ff7001);
  text-align: left;
  font: var(--normal, 400 15px "Inter-Regular", sans-serif);
  position: relative;
}
.register-zone {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  text-decoration: underline;
  position: relative;
}
.list-item {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.item-container {
  padding: 5px 0px 5px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.item {
  background: #3f3e3c;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 1200px;
  position: relative;
  overflow: hidden;
}
.header2 {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 30px;
  position: relative;
  overflow: hidden;
}
.icon-container {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.register-zone2 {
  color: #ffffff;
  text-align: left;
  font: var(--sub-tittle, 600 18px "Inter-SemiBold", sans-serif);
  position: relative;
}
.register-zone-2-span {
  color: #ffffff;
  font: var(--sub-tittle, 600 18px "Inter-SemiBold", sans-serif);
}
.register-zone-2-span2 {
  color: #ffffff;
  font: var(--sub-tittle, 600 18px "Inter-SemiBold", sans-serif);
}
.fm-14-02 {
  color: #ffffff;
  text-align: left;
  font: var(--sub-tittle, 600 18px "Inter-SemiBold", sans-serif);
  position: relative;
}
.content3 {
  background: #ffffff;
  padding: 20px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.form-item-blue {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 1140px;
  position: relative;
  overflow: hidden;
}
.header3 {
  background: #01a2e8;
  padding: 5px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.icon-container2 {
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  height: 15px;
  position: relative;
  overflow: visible;
}
.add-zone {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Inter-Bold", sans-serif;
  position: relative;
}
.sm-14-021 {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Inter-Bold", sans-serif;
  position: relative;
}
.content4 {
  background: #87cefa;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.body {
  padding: 20px 15px 0px 30px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-21 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.row {
  padding: 5px 0px 5px 0px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1130px;
  position: relative;
  overflow: hidden;
}
.left {
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 190px;
  position: relative;
}
.zone-id {
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
}
.zone-id-span {
  color: #000000;
  font: 400 15px "Inter-Regular", sans-serif;
}
.zone-id-span2 {
  color: #ff7001;
  font: 400 15px "Inter-Regular", sans-serif;
}
.right2 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.input-container {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 220px;
  position: relative;
}
.input {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 0px 3px 0px 3px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  height: 20px;
  position: relative;
}
._804 {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
  align-self: stretch;
}
.z-one-name {
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
}
.z-one-name-span {
  color: #000000;
  font: 400 15px "Inter-Regular", sans-serif;
}
.z-one-name-span2 {
  color: #ff7001;
  font: 400 15px "Inter-Regular", sans-serif;
}
.right3 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.input2 {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 0px 3px 0px 3px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  height: 20px;
  position: relative;
}
.text {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
  flex: 1;
}
.zone {
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
}
.zone-span {
  color: #000000;
  font: 400 15px "Inter-Regular", sans-serif;
}
.zone-span2 {
  color: #ff7001;
  font: 400 15px "Inter-Regular", sans-serif;
}
.order-of-allocation {
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
}
.order-of-allocation-span {
  color: #000000;
  font: 400 15px "Inter-Regular", sans-serif;
}
.order-of-allocation-span2 {
  color: #ff7001;
  font: 400 15px "Inter-Regular", sans-serif;
}
.text2 {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
  align-self: stretch;
}
.zone-type {
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
}
.zone-type-span {
  color: #000000;
  font: 400 15px "Inter-Regular", sans-serif;
}
.zone-type-span2 {
  color: #ff7001;
  font: 400 15px "Inter-Regular", sans-serif;
}
.dropdown-container2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.dropdown2 {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 10px 3px 10px 3px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 161px;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.storage-location {
  color: #0b0b0b;
  text-align: left;
  font: 500 15px "Inter-Medium", sans-serif;
  position: relative;
  width: 124px;
  height: 20px;
}
.arrow-down-icon2 {
  flex-shrink: 0;
  width: 16px;
  height: 8.77px;
  position: relative;
}
.arrow-down-22 {
  height: auto;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  overflow: visible;
}
.robot-type {
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
  width: 98px;
}
.robot-type-span {
  color: #000000;
  font: 400 15px "Inter-Regular", sans-serif;
}
.robot-type-span2 {
  color: #ff7001;
  font: 400 15px "Inter-Regular", sans-serif;
}
.right4 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 161px;
  position: relative;
}
.dropdown-container3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 161px;
  position: relative;
  overflow: hidden;
}
.general-zone {
  color: #0b0b0b;
  text-align: left;
  font: 500 15px "Inter-Medium", sans-serif;
  position: relative;
  width: 124px;
  height: 20px;
}
.arrow-down-23 {
  height: auto;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  overflow: visible;
}
.specify-shipment-data-qty {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
}
.textcontainer {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 129px;
  position: relative;
  overflow: hidden;
}
.btn-container {
  padding: 15px 0px 15px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.btn {
  background: #ff7001;
  border-radius: 5px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 150px;
  height: 50px;
  position: relative;
}
.execute {
  color: #000000;
  text-align: left;
  font: 700 20px "Inter-Bold", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.textcontainer2 {
  padding: 30px 10px 30px 10px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-end;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.form-item-blue2 {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1140px;
  position: relative;
  overflow: hidden;
}
.icon-container3 {
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  height: 15px;
  position: relative;
  overflow: visible;
}
.modify-zone {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Inter-Bold", sans-serif;
  position: relative;
}
.sm-14-022 {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Inter-Bold", sans-serif;
  position: relative;
}
.content5 {
  background: #87cefa;
  padding: 20px 15px 0px 30px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.form-item {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 10px 5px 10px 5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 1095px;
  position: relative;
  overflow: hidden;
}
.header4 {
  padding: 10px 5px 10px 5px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.icon-container4 {
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 30px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.easy-search {
  color: #000000;
  text-align: left;
  font: var(--sub-sub-tittle, 500 16px "Inter-Medium", sans-serif);
  position: relative;
}
.body2 {
  padding: 0px 0px 0px 30px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 25px;
  position: relative;
}
.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  height: 20px;
  position: relative;
}
.row2 {
  flex-shrink: 0;
  width: 66px;
  height: 18px;
  position: relative;
}
.status {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
}
.column2 {
  padding: 0px 0px 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 189px;
  height: 20px;
  position: relative;
}
.row3 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 183px;
  position: relative;
}
.col-1 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 183px;
  position: relative;
}
.valid-zones {
  color: #ff0000;
  text-align: left;
  font: 700 15px "Inter-Bold", sans-serif;
  text-decoration: underline;
  position: relative;
  width: 102px;
}
.column3 {
  padding: 0px 0px 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  height: 20px;
  position: relative;
}
.invalid-zone {
  color: #0029ff;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  text-decoration: underline;
  position: relative;
}
.all-zones {
  color: #0029ff;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  text-decoration: underline;
  position: relative;
}
.textcontainer3 {
  padding: 20px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-end;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 36px;
  position: relative;
  overflow: hidden;
}
.form-item2 {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 10px 5px 10px 5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 1095px;
  position: relative;
  overflow: hidden;
}
.header5 {
  padding: 0px 5px 10px 5px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.icon-container5 {
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 30px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.detail-search {
  color: #000000;
  text-align: left;
  font: 700 16px "Inter-Bold", sans-serif;
  position: relative;
}
.textcontainer4 {
  padding: 20px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-end;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 76px;
  position: relative;
  overflow: hidden;
}
.page-top {
  color: #0066ff;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  text-decoration: underline;
  position: relative;
}
.table-item {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 500px;
  position: relative;
  overflow: auto;
}
.header6 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1095px;
  height: 30px;
  position: relative;
}
.column-2 {
  background: #3a3a3a;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 100px;
  position: relative;
}
.column-3 {
  background: #3a3a3a;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 140px;
  position: relative;
}
.zone-id2 {
  color: #ffffff;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.column-6 {
  background: #3a3a3a;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 0px 0px 5px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 140px;
  position: relative;
}
.text-container5 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.zone-name {
  color: #ffffff;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.column-8 {
  background: #3a3a3a;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 140px;
  position: relative;
}
.zone2 {
  color: #ffffff;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
.column-82 {
  background: #3a3a3a;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 150px;
  position: relative;
}
.text-container6 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.order-of-allocation2 {
  color: #ffffff;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  flex: 1;
}
.zone-type2 {
  color: #ffffff;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
.column-83 {
  background: #3a3a3a;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 160px;
  position: relative;
}
.robot-type2 {
  color: #ffffff;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  flex: 1;
}
.column-84 {
  background: #3a3a3a;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 200px;
  position: relative;
}
.specify-shipment-data-qty2 {
  color: #ffffff;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  flex: 1;
}
.column-22 {
  background: #ffffff;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  width: 100px;
  position: relative;
}
.btn2 {
  background: #f2f2f2;
  border-radius: 2px;
  border-style: solid;
  border-color: #363636;
  border-width: 1px;
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 57px;
  position: relative;
}
.edit {
  color: #000000;
  text-align: center;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
}
.column-32 {
  background: #ffffff;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 140px;
  position: relative;
}
._1 {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.column-62 {
  background: #ffffff;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 0px 0px 5px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 140px;
  position: relative;
}
.a-zone {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.column-85 {
  background: #ffffff;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 140px;
  position: relative;
}
.a {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
.column-86 {
  background: #ffffff;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 150px;
  position: relative;
}
._12 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
  height: 20px;
}
.storage-location2 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
  height: 20px;
}
.column-87 {
  background: #ffffff;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 160px;
  position: relative;
}
.general-zone2 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  flex: 1;
}
.column-88 {
  background: #ffffff;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 200px;
  position: relative;
}
.text-container7 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 20px;
  position: relative;
}
.text3 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.frame {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1095px;
  height: 30px;
  position: relative;
}
.column-23 {
  background: #e4e4e4;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  width: 100px;
  position: relative;
}
.column-33 {
  background: #e4e4e4;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 140px;
  position: relative;
}
._2 {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.column-63 {
  background: #e4e4e4;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 0px 0px 5px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 140px;
  position: relative;
}
.b-zone {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.column-89 {
  background: #e4e4e4;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 140px;
  position: relative;
}
.b {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
.column-810 {
  background: #e4e4e4;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 150px;
  position: relative;
}
._22 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
  height: 20px;
}
.column-811 {
  background: #e4e4e4;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 160px;
  position: relative;
}
.column-812 {
  background: #e4e4e4;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 200px;
  position: relative;
}
.text-container8 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  height: 20px;
  position: relative;
}
.text4 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  flex: 1;
  height: 20px;
}
._3 {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.c-zone {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.c {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
._32 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
  height: 20px;
}
.other-location {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
  height: 20px;
}
._333 {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._3332 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
._3333 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
._3334 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
  height: 20px;
}
.picking-location {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
  height: 20px;
}
._800 {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.temporary-zone {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.aaa {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
._8002 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
  height: 20px;
}
._802 {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container-zone {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.ccc {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
._8022 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
  height: 20px;
}
.amr-zone {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  flex: 1;
}
._803 {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ddd {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.ddd2 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
._4 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
  height: 20px;
}
._900 {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
. {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
._000 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
._0 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
  height: 20px;
}
._901 {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.zzz {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
._9012 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
  height: 20px;
}
._902 {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.yyy {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
._9022 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
  height: 20px;
}
._903 {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.bbb {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
._9032 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
  height: 20px;
}
._904 {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.kkk {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
._9042 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
  height: 20px;
}
._950 {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.agv {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.agv2 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
}
._899 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  width: 123px;
  height: 20px;
}
.agv-zone {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  flex: 1;
}
.paging {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1130px;
  position: relative;
}
.bg {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  height: 30px;
  position: relative;
}
.line-1 {
  border-style: solid;
  border-color: #a5a5a5;
  border-width: 1px 0 0 0;
  flex-shrink: 0;
  width: 20px;
  height: 0px;
  position: absolute;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.container {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  height: 20px;
  position: relative;
  overflow: visible;
}
.line-3 {
  border-style: solid;
  border-color: #a5a5a5;
  border-width: 1px 0 0 0;
  flex-shrink: 0;
  width: 20px;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.list-number {
  background: #ffffff;
  padding: 0px 20px 0px 5px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  height: 20px;
  position: absolute;
  left: 20px;
  top: calc(50% - 10px);
  overflow: hidden;
}
.page-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.selected {
  background: #c8c8c8;
  padding: 0px 3px 0px 3px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 15px;
  height: 20px;
  position: relative;
  overflow: hidden;
}
._13 {
  color: #ffffff;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.text5 {
  background: #ffffff;
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 20px;
  position: absolute;
  left: 120px;
  top: calc(50% - 10px);
  overflow: hidden;
}
.text-container9 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.records-from-1-to-13-of-13 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.textcontainer5 {
  padding: 30px 10px 30px 10px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-end;
  justify-content: center;
  flex-shrink: 0;
  width: 1085px;
  height: 90px;
  position: relative;
  overflow: hidden;
}
.page-top2 {
  color: var(--blue, #0029ff);
  text-align: left;
  font: var(--normal-link, 400 15px "Inter-Regular", sans-serif);
  text-decoration: underline;
  position: relative;
}
.form-item3 {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 10px 5px 10px 5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 1095px;
  position: relative;
  overflow: hidden;
}
.icon-container6 {
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 30px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.modify-zone2 {
  color: #000000;
  text-align: left;
  font: 700 16px "Inter-Bold", sans-serif;
  position: relative;
}
.textcontainer6 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 232px;
  position: relative;
  overflow: hidden;
}
.header7 {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.text-container10 {
  background: #ff7001;
  padding: 3px 10px 3px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 400px;
  position: relative;
}
.select-operation-and-click-execute-button {
  color: #000000;
  text-align: left;
  font: 400 17px "Inter-Regular", sans-serif;
  position: relative;
}
.row4 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.text-container11 {
  padding: 3px 0px 3px 0px;
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 400px;
  position: relative;
}
.radio-icon {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.register-edited-informations {
  color: #3a3a3a;
  text-align: left;
  font: 400 17px "Inter-Regular", sans-serif;
  position: relative;
}
.row5 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 27px;
  position: relative;
  overflow: hidden;
}
.textcontainer7 {
  padding: 30px 10px 30px 10px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-end;
  justify-content: center;
  flex-shrink: 0;
  width: 1085px;
  height: 85px;
  position: relative;
  overflow: hidden;
}
.textcontainer8 {
  padding: 40px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-end;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.text-container12 {
  background: #eef0ed;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.help-register-zone {
  color: var(--blue, #0029ff);
  text-align: left;
  font: var(--link, 400 13px "Inter-Regular", sans-serif);
  text-decoration: underline;
  position: relative;
}
.footer {
  background: #f1f2f1;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1300px;
  height: 30px;
  position: relative;
  overflow: hidden;
}
.copyright-system-exe-vietnam-2022 {
  color: #000000;
  text-align: left;
  font: 500 13px "Inter-Medium", sans-serif;
  position: relative;
}
