.language,
.language * {
  box-sizing: border-box;
}
.language {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}
.header {
  background: #e7e6e6;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1300px;
  height: 81px;
  position: relative;
  overflow: hidden;
}
.logo-container {
  width: 114px;
  height: 100px;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.text-container {
  padding: 16px 0px 16px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.warehouse {
  color: #000000;
  text-align: left;
  font: var(--title, 700 20px "Inter-Bold", sans-serif);
  position: relative;
}
.dropdown-container {
  padding: 24px 0px 24px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.dropdown {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 10px 5px 10px 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  height: 30px;
  position: relative;
  overflow: hidden;
}
.exe-hcm-wh {
  color: #0b0b0b;
  text-align: left;
  font: 500 18px "Inter-Medium", sans-serif;
  position: relative;
}
.arrow-down-icon {
  flex-shrink: 0;
  width: 16px;
  height: 8.77px;
  position: relative;
  overflow: visible;
}
.text-container2 {
  padding: 16px 0px 16px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.hello-admin {
  color: #000000;
  text-align: left;
  font: var(--title, 700 20px "Inter-Bold", sans-serif);
  position: relative;
}
.text-container3 {
  padding: 16px 20px 16px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.logout {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  position: relative;
  background-color: black;
  overflow: visible;
}
.log-out {
  color: #000000;
  text-align: left;
  font: var(--title, 700 20px "Inter-Bold", sans-serif);
  position: relative;
}
.right {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow-y: auto;
}
.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow-x: auto;
}
.navigation-bar {
  background: #ffffff;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1200px;
  height: 60px;
  position: relative;
  overflow: hidden;
}
.tab-1 {
  background: #f0f0f0;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.receiving {
  color: #7c7c7c;
  text-align: left;
  font: 500 20px "Inter-Medium", sans-serif;
  position: relative;
}
.shipment {
  color: #7c7c7c;
  text-align: left;
  font: 500 20px "Inter-Medium", sans-serif;
  position: relative;
}
.inventory {
  color: #7c7c7c;
  text-align: left;
  font: 500 20px "Inter-Medium", sans-serif;
  position: relative;
}
.stock-taking {
  color: #7c7c7c;
  text-align: left;
  font: 500 20px "Inter-Medium", sans-serif;
  position: relative;
}
.management {
  color: #7c7c7c;
  text-align: left;
  font: 500 20px "Inter-Medium", sans-serif;
  position: relative;
}
.general-settings {
  color: #7c7c7c;
  text-align: left;
  font: 500 20px "Inter-Medium", sans-serif;
  position: relative;
}
.title-bar {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1200px;
  height: 70px;
  position: relative;
  overflow: hidden;
}
.title-container {
  background: #253052;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 8px 5px 8px 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 40px;
  position: relative;
  overflow: hidden;
}
.frame-14 {
  background: #ff7001;
  align-self: stretch;
  flex-shrink: 0;
  width: 5px;
  position: relative;
  overflow: hidden;
}
.text-contaier {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.language2 {
  color: #ffffff;
  text-align: left;
  font: var(--title, 700 20px "Inter-Bold", sans-serif);
  position: relative;
}
.pr-07 {
  color: #ffffff;
  text-align: left;
  font: 500 13px "Inter-Medium", sans-serif;
  position: relative;
  align-self: stretch;
  width: 45px;
}
.text-container4 {
  background: #eef0ed;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.guidance-for-language-switch {
  color: var(--blue, #0029ff);
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
}
.switch-of-language-will-be-performed {
  color: #000000;
  text-align: left;
  font: var(--normal-link, 400 15px "Inter-Regular", sans-serif);
  text-decoration: underline;
  position: relative;
}
.sub-nav-bar-container {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.content2 {
  background: #e0dedb;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1200px;
  position: relative;
}
.sub-nav-bar {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 30px;
  position: relative;
  overflow: hidden;
}
.menu-bar-list {
  color: var(--orange, #ff7001);
  text-align: left;
  font: var(--normal, 400 15px "Inter-Regular", sans-serif);
  position: relative;
}
.language3 {
  color: #000000;
  text-align: left;
  font: var(--normal-link, 400 15px "Inter-Regular", sans-serif);
  text-decoration: underline;
  position: relative;
}
.list-item {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.item-container {
  padding: 5px 0px 5px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.item {
  background: #3f3e3c;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 1200px;
  position: relative;
  overflow: hidden;
}
.header2 {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 30px;
  position: relative;
  overflow: hidden;
}
.icon-container {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.language4 {
  color: #ffffff;
  text-align: left;
  font: var(--sub-tittle, 600 18px "Inter-SemiBold", sans-serif);
  position: relative;
}
.fr-07-01 {
  color: #ffffff;
  text-align: left;
  font: var(--sub-tittle, 600 18px "Inter-SemiBold", sans-serif);
  position: relative;
}
.content3 {
  background: #ffffff;
  padding: 20px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.form-item-no-colapse {
  border-style: solid;
  border-color: var(--menu-bar-normal, #606060);
  border-width: 0px 0px 1px 0px;
  padding: 0px 5px 20px 5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.row {
  padding: 5px 30px 5px 0px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.left {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 200px;
  position: relative;
}
.language5 {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
}
. {
  color: #ff7001;
  text-align: center;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
  width: 20px;
}
.right2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 300px;
  position: relative;
}
.dropdown-container2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.dropdown2 {
  background: #ffffff;
  border-style: solid;
  border-color: var(--black, #000000);
  border-width: 1px;
  padding: 10px 3px 10px 3px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 150px;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.english {
  color: var(--black, #000000);
  text-align: left;
  font: 500 15px "Inter-Medium", sans-serif;
  position: relative;
  flex: 1;
}
.arrow-down-icon2 {
  flex-shrink: 0;
  width: 16px;
  height: 8.77px;
  position: relative;
  overflow: visible;
}
.textcontainer {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.header3 {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.text-container5 {
  background: #ff7001;
  padding: 3px 10px 3px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 400px;
  position: relative;
}
.select-operation-and-click-execute-button {
  color: #000000;
  text-align: left;
  font: 400 17px "Inter-Regular", sans-serif;
  position: relative;
}
.row2 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0px 1px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.text-container6 {
  padding: 3px 0px 3px 0px;
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 400px;
  position: relative;
}
.radio-icon {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.set-to-selected-language {
  color: #3a3a3a;
  text-align: left;
  font: 400 17px "Inter-Regular", sans-serif;
  position: relative;
}
.btn-container {
  padding: 15px 0px 15px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.btn {
  background: #ff7001;
  border-radius: 5px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 150px;
  height: 50px;
  position: relative;
}
.execute {
  color: #000000;
  text-align: left;
  font: 700 20px "Inter-Bold", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.textcontainer2 {
  padding: 30px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-end;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.text-container7 {
  background: #eef0ed;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.help-language {
  color: var(--blue, #0029ff);
  text-align: left;
  font: var(--link, 400 13px "Inter-Regular", sans-serif);
  text-decoration: underline;
  position: relative;
}
.footer {
  background: #f1f2f1;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1300px;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.copyright-system-exe-vietnam-2022 {
  color: #000000;
  text-align: left;
  font: 500 13px "Inter-Medium", sans-serif;
  position: relative;
}
