.access-authority,
.access-authority * {
  box-sizing: border-box;
}
.access-authority {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  /* width: 1300px; */
  position: relative;
  overflow: hidden;
}
.header {
  background: #e7e6e6;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1300px;
  height: 81px;
  position: relative;
  overflow: hidden;
}
.logo-container {
  flex-shrink: 0;
  width: 114px;
  height: 100px;
  position: relative;
  overflow: hidden;
}
.text-container {
  padding: 16px 0px 16px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.warehouse {
  color: #000000;
  text-align: left;
  font: var(--title, 700 20px "Inter-Bold", sans-serif);
  position: relative;
}
.dropdown-container {
  padding: 24px 0px 24px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.dropdown {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 10px 5px 10px 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  height: 30px;
  position: relative;
  overflow: hidden;
}
.exe-hcm-wh {
  color: #0b0b0b;
  text-align: left;
  font: 500 18px "Inter-Medium", sans-serif;
  position: relative;
}
.arrow-down-icon {
  flex-shrink: 0;
  width: 16px;
  height: 8.77px;
  position: relative;
  overflow: visible;
}
.text-container2 {
  padding: 16px 0px 16px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.hello-admin {
  color: #000000;
  text-align: left;
  font: var(--title, 700 20px "Inter-Bold", sans-serif);
  position: relative;
}
.text-container3 {
  padding: 16px 20px 16px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.logout {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  position: relative;
  background-color: black;
  overflow: visible;
}
.log-out {
  color: #000000;
  text-align: left;
  font: var(--title, 700 20px "Inter-Bold", sans-serif);
  position: relative;
}
.right {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  /* width: 1300px; */
  position: relative;
  overflow-y: auto;
}
.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  /* width: 1300px; */
  position: relative;
  overflow-x: auto;
}
.navigation-bar {
  background: #ffffff;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1200px;
  height: 60px;
  position: relative;
  overflow: visible;
}
.tab-1 {
  background: #f0f0f0;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: visible;
}
.receiving {
  color: #7c7c7c;
  text-align: left;
  font: 500 20px "Inter-Medium", sans-serif;
  position: relative;
}
.shipment {
  color: #7c7c7c;
  text-align: left;
  font: 500 20px "Inter-Medium", sans-serif;
  position: relative;
}
.inventory {
  color: #7c7c7c;
  text-align: left;
  font: 500 20px "Inter-Medium", sans-serif;
  position: relative;
}
.stock-taking {
  color: #7c7c7c;
  text-align: left;
  font: 500 20px "Inter-Medium", sans-serif;
  position: relative;
}
.management {
  color: #7c7c7c;
  text-align: left;
  font: 500 20px "Inter-Medium", sans-serif;
  position: relative;
}
.general-settings {
  color: #7c7c7c;
  text-align: left;
  font: 500 20px "Inter-Medium", sans-serif;
  position: relative;
}
.title-bar {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1200px;
  height: 70px;
  position: relative;
  overflow: hidden;
}
.title-container {
  background: #253052;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 8px 5px 8px 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 40px;
  position: relative;
  overflow: hidden;
}
.frame-14 {
  background: #ff7001;
  align-self: stretch;
  flex-shrink: 0;
  width: 5px;
  position: relative;
  overflow: hidden;
}
.text-contaier {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.access-authority2 {
  color: #ffffff;
  text-align: left;
  font: var(--title, 700 20px "Inter-Bold", sans-serif);
  position: relative;
}
.pr-01 {
  color: #ffffff;
  text-align: left;
  font: 500 13px "Inter-Medium", sans-serif;
  position: relative;
  align-self: stretch;
  width: 45px;
}
.text-container4 {
  background: #eef0ed;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.access-authority3 {
  color: var(--blue, #0029ff);
  text-align: left;
  font: var(--link, 400 13px "Inter-Regular", sans-serif);
  text-decoration: underline;
  position: relative;
}
.register-access-authority {
  color: #000000;
  text-align: left;
  font: var(--normal, 400 15px "Inter-Regular", sans-serif);
  position: relative;
}
.sub-nav-bar-container {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.content2 {
  background: #e0dedb;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1200px;
  position: relative;
}
.sub-nav-bar {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 30px;
  position: relative;
  overflow: hidden;
}
.menu-bar-list {
  color: var(--orange, #ff7001);
  text-align: left;
  font: var(--normal, 400 15px "Inter-Regular", sans-serif);
  position: relative;
}
.access-authority4 {
  color: #000000;
  text-align: left;
  font: var(--normal-link, 400 15px "Inter-Regular", sans-serif);
  text-decoration: underline;
  position: relative;
}
.list-item {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.item-container {
  padding: 5px 0px 5px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.item {
  background: #3f3e3c;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 1200px;
  position: relative;
  overflow: hidden;
}
.header2 {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 30px;
  position: relative;
  overflow: hidden;
}
.icon-container {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.access-authority5 {
  color: #ffffff;
  text-align: left;
  font: var(--sub-tittle, 600 18px "Inter-SemiBold", sans-serif);
  position: relative;
}
.fr-01-01 {
  color: #ffffff;
  text-align: left;
  font: var(--sub-tittle, 600 18px "Inter-SemiBold", sans-serif);
  position: relative;
}
.content3 {
  background: #ffffff;
  padding: 20px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.form-item-blue {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.header3 {
  background: #01a2e8;
  padding: 5px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.icon-container2 {
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  height: 15px;
  position: relative;
  overflow: visible;
}
.add-access-authority {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Inter-Bold", sans-serif;
  position: relative;
}
.sr-01-011 {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Inter-Bold", sans-serif;
  position: relative;
}
.content4 {
  background: #87cefa;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.body {
  padding: 20px 15px 0px 30px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.form-item-no-colapse {
  padding: 0px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.row {
  padding: 5px 35px 5px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.left {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 200px;
  position: relative;
}
.access-authority-id {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
}
.right2 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 300px;
  position: relative;
}
.input-container {
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.input {
  background: var(--disabled, #cbcbcb);
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 10px 3px 10px 3px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 200px;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.access-authority-name {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
}
. {
  color: var(--orange, #ff7001);
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
}
.right3 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 400px;
  position: relative;
}
.input-container2 {
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.input2 {
  background: var(--white, #ffffff);
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 10px 3px 10px 3px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.textcontainer {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.header4 {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.text-container5 {
  background: #ff7001;
  padding: 3px 10px 3px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 400px;
  position: relative;
}
.select-operation-and-click-execute-button {
  color: #000000;
  text-align: left;
  font: 400 17px "Inter-Regular", sans-serif;
  position: relative;
}
.row2 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0px 1px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.text-container6 {
  padding: 3px 0px 3px 0px;
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 400px;
  position: relative;
}
.radio-icon {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.register-information {
  color: #3a3a3a;
  text-align: left;
  font: 400 17px "Inter-Regular", sans-serif;
  position: relative;
}
.btn-container {
  padding: 15px 0px 15px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 114px;
  position: relative;
}
.btn {
  background: #ff7001;
  border-radius: 5px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 150px;
  height: 50px;
  position: relative;
}
.execute {
  color: #000000;
  text-align: left;
  font: 700 20px "Inter-Bold", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icon-container3 {
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  height: 15px;
  position: relative;
  overflow: visible;
}
.modify-access-authority {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Inter-Bold", sans-serif;
  position: relative;
}
.sr-01-012 {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Inter-Bold", sans-serif;
  position: relative;
}
.input3 {
  background: var(--white, #ffffff);
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 10px 3px 10px 3px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 200px;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.right4 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 200px;
  position: relative;
}
.search {
  color: #000000;
  text-align: left;
  font: 700 20px "Inter-Bold", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.table-item {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}
.header5 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 30px;
  position: relative;
}
.column-1 {
  background: #3a3a3a;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  width: 150px;
  position: relative;
}
.column-2 {
  background: #3a3a3a;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 120px;
  position: relative;
}
.column-3 {
  background: #3a3a3a;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 150px;
  position: relative;
}
.text-container7 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.access-authority-id2 {
  color: #ffffff;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.column-4 {
  background: #3a3a3a;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 190px;
  position: relative;
}
.2 {
  color: #ff3131;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.access-authority-name2 {
  color: #ffffff;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.column-5 {
  background: #3a3a3a;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.text-container8 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 0px;
  height: 17px;
  position: relative;
}
.body2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 300px;
  position: relative;
}
.row3 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 30px;
  position: relative;
}
.column-12 {
  background: #e0ffff;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  width: 150px;
  position: relative;
}
.btn-container2 {
  background: #dfdfdf;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 0px 3px 0px 3px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.screen-permissions {
  color: #000000;
  text-align: center;
  font: 500 13px "Inter-Medium", sans-serif;
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.column-22 {
  background: #ffe4b5;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  width: 120px;
  position: relative;
}
.btn-container3 {
  background: #dfdfdf;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 0px 3px 0px 3px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 100px;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.ht-authority {
  color: #000000;
  text-align: center;
  font: 500 13px "Inter-Medium", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.column-32 {
  background: #ffe4b5;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 150px;
  position: relative;
}
._0 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.column-42 {
  background: #ffe4b5;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 190px;
  position: relative;
}
.3 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.row4 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1095px;
  height: 30px;
  position: relative;
}
.column-13 {
  background: #e6e6e6;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  width: 150px;
  position: relative;
}
.column-23 {
  background: #e6e6e6;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  width: 120px;
  position: relative;
}
.column-33 {
  background: #e6e6e6;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 150px;
  position: relative;
}
._1 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.column-43 {
  background: #e6e6e6;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 190px;
  position: relative;
}
.column-14 {
  background: #ffffff;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  width: 150px;
  position: relative;
}
.column-24 {
  background: #ffffff;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  width: 120px;
  position: relative;
}
.column-34 {
  background: #ffffff;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 150px;
  position: relative;
}
._2 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.column-44 {
  background: #ffffff;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 190px;
  position: relative;
}
.odamura {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
._3 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.wh-staff {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
._4 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.administrator {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
._5 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.director {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.paging {
  padding: 10px 5px 10px 5px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.bg {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  height: 30px;
  position: relative;
}
.line-1 {
  border-style: solid;
  border-color: #a5a5a5;
  border-width: 1px 0 0 0;
  flex-shrink: 0;
  width: 20px;
  height: 0px;
  position: absolute;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.container {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  height: 20px;
  position: relative;
  overflow: visible;
}
.line-3 {
  border-style: solid;
  border-color: #a5a5a5;
  border-width: 1px 0 0 0;
  flex-shrink: 0;
  width: 20px;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.list-number {
  background: #ffffff;
  padding: 0px 20px 0px 5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 20px;
  position: absolute;
  left: 20px;
  top: calc(50% - 10px);
  overflow: hidden;
}
.page-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.selected {
  background: #c8c8c8;
  padding: 0px 3px 0px 3px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 15px;
  height: 20px;
  position: relative;
  overflow: hidden;
}
._12 {
  color: #ffffff;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.text {
  background: #ffffff;
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 20px;
  position: absolute;
  left: 120px;
  top: calc(50% - 10px);
  overflow: hidden;
}
.text-container9 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.records-from-1-to-6-of-6 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.textcontainer2 {
  padding: 20px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-end;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.page-top {
  color: #0066ff;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  text-decoration: underline;
  position: relative;
}
.textcontainer3 {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 189px;
  position: relative;
  overflow: hidden;
}
.radio-icon2 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.update-the-access-authority-name {
  color: #3a3a3a;
  text-align: left;
  font: 400 17px "Inter-Regular", sans-serif;
  position: relative;
}
.btn-container4 {
  padding: 15px 0px 15px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 80px;
  position: relative;
}
.icon-container4 {
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  height: 15px;
  position: relative;
  overflow: visible;
}
.modify-access-authority-screen {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Inter-Bold", sans-serif;
  position: relative;
}
.sr-01-013 {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Inter-Bold", sans-serif;
  position: relative;
}
.form-item {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 10px 5px 10px 5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.header6 {
  padding: 10px 5px 10px 5px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.icon-container5 {
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 30px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.change-authorization-role {
  color: #000000;
  text-align: left;
  font: var(--sub-sub-tittle, 500 16px "Inter-Medium", sans-serif);
  position: relative;
}
.body3 {
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.row5 {
  padding: 5px 35px 5px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1095px;
  position: relative;
  overflow: hidden;
}
.input4 {
  background: var(--disabled, #cbcbcb);
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 10px 3px 10px 3px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 20px;
  position: relative;
  overflow: hidden;
}
._02 {
  color: #000000;
  text-align: left;
  font: 500 15px "Inter-Medium", sans-serif;
  position: relative;
}
.4 {
  color: #000000;
  text-align: left;
  font: 500 15px "Inter-Medium", sans-serif;
  position: relative;
}
.textcontainer4 {
  padding: 20px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-end;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 27px;
  position: relative;
  overflow: hidden;
}
.table-item2 {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: auto;
}
.column-15 {
  background: #3a3a3a;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 130px;
  position: relative;
}
.main {
  color: #ffffff;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.column-25 {
  background: #3a3a3a;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 140px;
  position: relative;
}
.menu-restriction {
  color: #ffffff;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.menu {
  color: #ffffff;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.column-45 {
  background: #3a3a3a;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 140px;
  position: relative;
}
.restriction-of-sub {
  color: #ffffff;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.column-52 {
  background: #3a3a3a;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 140px;
  position: relative;
}
.sub-menu {
  color: #ffffff;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.column-6 {
  background: #3a3a3a;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 130px;
  position: relative;
}
.function-limit {
  color: #ffffff;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.column-7 {
  background: #3a3a3a;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 300px;
  position: relative;
}
.function-name {
  color: #ffffff;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.data {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1045px;
  height: 400px;
  position: relative;
}
.column-53 {
  background: #ffffff;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 130px;
  position: relative;
}
.text-container10 {
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 130px;
  height: 180px;
  position: relative;
}
.receiving2 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.text-container11 {
  background: #e6e6e6;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 130px;
  height: 220px;
  position: relative;
}
.shipment2 {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.column-54 {
  background: #ffffff;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 140px;
  position: relative;
}
.text-container12 {
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 140px;
  height: 60px;
  position: relative;
}
.square {
  background: #747474;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.group {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.text-container13 {
  background: #e6e6e6;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 140px;
  height: 20px;
  position: relative;
}
.group2 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.text-container14 {
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 140px;
  height: 40px;
  position: relative;
}
.group3 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.text-container15 {
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 140px;
  height: 20px;
  position: relative;
}
.group4 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.text-container16 {
  background: #e6e6e6;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 140px;
  height: 40px;
  position: relative;
}
.group5 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.text-container17 {
  background: #e6e6e6;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 140px;
  height: 140px;
  position: relative;
}
.group6 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.text-container18 {
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 140px;
  height: 80px;
  position: relative;
}
.group7 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.column-55 {
  background: #ffffff;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 150px;
  position: relative;
}
.text-container19 {
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 150px;
  height: 60px;
  position: relative;
}
.receiving-plan {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.text-container20 {
  background: #e6e6e6;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 150px;
  height: 20px;
  position: relative;
}
.acceptance {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.text-container21 {
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 150px;
  height: 40px;
  position: relative;
}
.receiving-inspection {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.text-container22 {
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 150px;
  height: 20px;
  position: relative;
}
.status-inquiry {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.text-container23 {
  background: #e6e6e6;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 150px;
  height: 40px;
  position: relative;
}
.price-tags {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.text-container24 {
  background: #e6e6e6;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 150px;
  height: 140px;
  position: relative;
}
.shipment-plan {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.text-container25 {
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 150px;
  height: 80px;
  position: relative;
}
.instruction {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.column-62 {
  background: #ffffff;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 130px;
  position: relative;
}
.text-container26 {
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 20px;
  position: relative;
}
.group8 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.text-container27 {
  background: #e6e6e6;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 20px;
  position: relative;
}
.group9 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.group10 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.group11 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.group12 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.group13 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.group14 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.group15 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.group16 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.group17 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.group18 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.group19 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.group20 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.group21 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.group22 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.group23 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.group24 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.group25 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.group26 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.group27 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.column-72 {
  background: #ffffff;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 300px;
  height: 333px;
  position: relative;
}
.text-container28 {
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 20px;
  position: relative;
}
.register-receiving-plan {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.text-container29 {
  background: #e6e6e6;
  border-style: solid;
  border-color: #7e7e7e;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 20px;
  position: relative;
}
.modify-receiving-plan {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.paste-excel-receiving-plan {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.return-shipment-bto-c {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.price-tags-option {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.register-shipment-plan-bto-b {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.modify-shipment-plan-bto-b {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.register-shipment-plan-bto-c {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.modify-shipment-plan-bto-c {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.delete-enclosed-missing-item-bto-c {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.paste-excel-files-shipment-plan-bto-b {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.paste-excel-files-shipment-plan-bto-c {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.instruct-shipment-plan-bto-b {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.instruct-shipment-plan-bto-c {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.instruct-partial-shipment-plan-bto-b {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.bulk-shipment-instruction-bto-c {
  color: #000000;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: relative;
}
.textcontainer5 {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.radio-icon3 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.update-authority-information {
  color: #3a3a3a;
  text-align: left;
  font: 400 17px "Inter-Regular", sans-serif;
  position: relative;
}
.btn-container5 {
  padding: 15px 0px 15px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.return-to-edit-authorization-role {
  color: #0066ff;
  text-align: left;
  font: 400 15px "Inter-Regular", sans-serif;
  position: relative;
}
.header7 {
  background: #01a2e8;
  padding: 5px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1140px;
  position: relative;
  overflow: hidden;
}
.icon-container6 {
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  height: 15px;
  position: relative;
  overflow: visible;
}
.modify-access-authority-ht {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Inter-Bold", sans-serif;
  position: relative;
}
.sr-01-014 {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Inter-Bold", sans-serif;
  position: relative;
}
.textcontainer6 {
  padding: 30px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-end;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.text-container30 {
  background: #eef0ed;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.help-access-authority {
  color: var(--blue, #0029ff);
  text-align: left;
  font: var(--link, 400 13px "Inter-Regular", sans-serif);
  text-decoration: underline;
  position: relative;
}
.footer {
  background: #f1f2f1;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1300px;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.copyright-system-exe-vietnam-2022 {
  color: #000000;
  text-align: left;
  font: 500 13px "Inter-Medium", sans-serif;
  position: relative;
}
